#gallery {
  position:relative;
  width:575px;
  height:675px;
  margin:auto;
  left:0;
  right:0;
  background-color:rgba(200,240,240,0.3);
}
#gallery:after {
  content: "";
  background: url(backimage.jpg);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#category {
  position: absolute;
  height: 40px;
  width: 575px;
  top: 0;
  left: 0px;
  right: 0px;
  background: #a4d2d2;
  font-size: 1em;
}

#scroll {
  position:absolute;
  overflow: hidden;
  right: 30px;
  left: 30px;
  color: white;
  height: 100%;
  padding-top: 7px;
  padding-left: 3px;
}

#text {
  position: absolute;
  left: 0px;
  width: 800px;
  white-space: nowrap;
  transition: left 0.3s ease-in-out;
}

#debug {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 100px;
}

#textmeasure {
  visibility: hidden;
  white-space: nowrap;
  font-size: 1em;
}


span.cat:hover {
  color: black;
  cursor: pointer;
}

.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}