#gallery {
  position:relative;
  width:595px;
  height:705px;
  margin:auto;
  left:0;
  right:0;
  background-color:rgba(100,140,200,0.3);
  overflow: hidden;
}
#gallery:after {
  content: "";
  background: url(backimage.jpg);
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#category {
  position: absolute;
  height: 40px;
  width: 595px;
  top: 0;
  left: 0px;
  right: 0px;
  background:rgba(150,180,180,0.3);
  font-size: 1em;
}

#scroll {
  position:absolute;
  overflow: hidden;
  right: 30px;
  left: 30px;
  color: white;
  height: 100%;
  padding-top: 7px;
  padding-left: 3px;
  transform: scaleX(0.85);
}

#text {
  position: absolute;
  left: 0px;
  width: 800px;
  white-space: nowrap;
  transition: left 0.3s ease-in-out;
  line-height: 26.4px;
}

#left {
  position: absolute;
  left:0px;
  top:0px;
  height: 100%;
  width: 40px;
  background: green;
  opacity: 0.04;
}

#right {
  position: absolute;
  right:0px;
  top:0px;
  height: 100%;
  width: 40px;
  background: green;
  opacity: 0.04;
}

#right:hover {
  opacity: 0.4;
  -webkit-clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
  clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
}


#left:hover {
  opacity: 0.4;
  -webkit-clip-path: polygon(90% 10%, 10% 50%, 90% 90%);
  clip-path: polygon(90% 10%, 10% 50%, 90% 90%);
}

#debug {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 100px;
}

#textmeasure {
  visibility: hidden;
  white-space: nowrap;
  font-size: 1em;
}

span.cat:hover {
  color: black;
  cursor: pointer;
}

span.cat.selected {
  color: green;
}

#thumbs {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  bottom: 50px;
}

.thumb {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: none;
  background-size: contain;
  background-position: center;
  opacity: 0;
  transition: transform 0.4s ease,
              opacity 0.3s, 
              width 0.3s ease,
              height 0.3s ease,
              left 0.3s ease,
              top 0.3s ease;
}

.active {
  opacity: 0.9;
}

.row0 {  top: 0px; }
.row1 {  top: 135px; }
.row2 {  top: 270px; }
.row3 {  top: 405px; }

.col0 {  left: 35px; }
.col1 {  left: 170px; }
.col2 {  left: 305px; }
.col3 {  left: 440px; }

.active:hover {
  opacity: 1;
  transform: scale(1.2);
  z-index: 100;
  -webkit-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
}

.thumb.enlarged {
  transform: scale(1);
  width: 520px;
  height: 570px;
  top: -15px;
  left: 45px;
  z-index: 1000;
  opacity: 1;
  cursor: vertical-text;
  background-color: rgba(180,200,200,0.9);
  -webkit-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.75);
}

/* show cursor indicating navigation, arrow right */
.thumb.enlarged:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 570px;
  top: 0px;
  right: 0px;
  cursor: e-resize;
}

/* show cursor indicating navigation, arrow left */
.thumb.enlarged:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 570px;
  top: 0px;
  left: 0px;
  cursor: w-resize;
}

#title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 100px;
  text-align: center;
  font-size: 0.8em;
  color: white;
}
#title h1 {
  font-size:1.4em;
}

/* show cursor indicating navigation, arrow right */
#nextpage {
  position: absolute;
  width: 70px;
  height: 100px;
  top: 0px;
  right: 0px;
  cursor: e-resize;
  background: rgba(10,210,250,0.2);
  -webkit-clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
  clip-path: polygon(10% 10%, 90% 50%, 10% 90%);
}

/* show cursor indicating navigation, arrow left */
#prevpage {
  position: absolute;
  width: 70px;
  height: 100px;
  top: 0px;
  left: 0px;
  cursor: w-resize;
  background: rgba(10,210,250,0.2);
  -webkit-clip-path: polygon(90% 10%, 10% 50%, 90% 90%);
  clip-path: polygon(100% 0%, 0 50%, 100% 100%);
}

#prevpage.hide, #nextpage.hide {
  opacity: 0;
}

/*
 *   Preload images for better response
 */
 #preload {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
 }